@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.about {
  background-color: #251b58;
  justify-content: center;
  padding: 10rem;
  padding-top: 0rem !important;
  width: 100vw;
  /* height: 175vh; */
}

.faltuHeading {
  text-align: left;
  font-size: 4rem;
  font-weight: 800;
  color: white !important;
  font-family: 'Merriweather Sans', 'sans-serif';
  margin-right: 2.5rem;
}
.faltuHeading-animation {
  animation: 0.5s leftToRight;
}
.faltuText {
  color: white;
}
.faltuText-animation {
  animation: 0.5s leftToRight;
}
@keyframes leftToRight {
  0% {
    margin-left: -100vw;
    opacity: 0;
  }

  100% {
    margin-left: 0vw;
    opacity: 1;
  }
}
.about p {
  text-align: center;
  font-size: 1.3rem;
  color: white !important;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  margin-top: 1rem;
  letter-spacing: 0.1px;
  word-spacing: 1.5px;
  line-height: 37px;
}

.imgs {
  box-shadow: rgba(0, 0, 0, 0.9) 0px 54px 55px,
    rgba(0, 0, 0, 0.9) 0px -12px 30px, rgba(0, 0, 0, 0.9) 0px 4px 6px,
    rgba(0, 0, 0, 0.9) 0px 12px 13px, rgba(0, 0, 0, 0.9) 0px -3px 5px;
}
.imgs-animation {
  animation: 2.5s rightToLeft;
}
@keyframes rightToLeft {
  /* 0%{
    margin-left: 50vw;
    opacity: 0;
    scale: 1;
  }
  25%{
    opacity: 0.25;
    scale: 1;
  }
  50%{
    opacity: 0.5;
    scale: 1;
  }
  75%{
    opacity: 0.75;
    scale: 1;
  }
  100%{
    margin-left: 0;
    opacity: 1;
    scale: 1;
  } */
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/* .upperAbout{
  display: flex;
  align-items: center;
 justify-content: center;
} */

/* .abouth2{
  text-align: center;
  font-size: 10rem;
  font-weight: 800;
  color: white !important;
  margin-right: -0rem;
transform: rotate(-90deg);
z-index: 1000000000000;
word-wrap: break-word;
white-space: nowrap;
max-height: 3vh;
opacity: 0.7;
margin-left: -50vh;
font-family: 'Bebas Neue', sans-serif;
} */
.h22 {
  font-family: 'Merriweather Sans', sans-serif;
  /* -webkit-text-stroke: 4px white; */
  color: transparent;
  /* letter-spacing: 10px; */
  text-align: center;
  font-size: 5rem;
  font-weight: 800;
  color: white !important;
  margin-right: 2.5rem;
}
.h22 a:link {
  text-decoration: none;
}

.h22 a:visited {
  text-decoration: none;
  color: white;
}

.h22 a {
  color: black;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  cursor: default;
}

.h22 a:hover {
  color: #702fff;
  text-shadow: 0px 0px 30px #2e65ff;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

@media (max-width: 774px) {
  .h22 {
    font-size: 4rem;
    margin-right: 2rem;
  }
  .about p {
    font-size: 1rem;
    line-height: 30px;
  }
  .faltuHeading {
    font-size: 4rem;
  }
  .faltuText {
    font-size: 1rem;
  }
  .about {
    padding: 8rem;
  }
}
@media (max-width: 570px) {
  .h22 {
    font-size: 3rem;
    margin-right: 2rem;
  }
  .about p {
    font-size: 0.8rem;
    line-height: 30px;
  }
  .faltuHeading {
    font-size: 3rem;
  }
  .faltuText {
    font-size: 0.8rem;
  }
  .about {
    padding: 6rem;
  }
}
@media (max-width: 510px) {
  .h22 {
    font-size: 1.3rem;
    margin-right: 1rem;
  }
  .about p {
    font-size: 0.5rem;
    line-height: 15px;
  }
  .faltuHeading {
    font-size: 1.3rem;
  }
  .faltuText {
    font-size: 0.5rem;
  }
  .about {
    padding: 4rem;
  }
}
@media (max-width: 400px) {
  .about {
    min-width: 100vw;
    overflow-x: hidden;
    margin-top: -40%;
  }
  .h22 {
    font-size: 1.1rem;
    margin-right: 0.8rem;
  }
  .about p {
    font-size: 0.5rem;
    line-height: 15px;
  }
  .faltuHeading {
    font-size: 0.7rem;
    margin-top: -10%;
    width: 30%;
  }
  .faltuText {
    font-size: 0.8rem;
  }
  .lowerdivwrapper {
    margin-top: -30%;
  }
  .imgs {
    margin-top: -30%;
  }

  .about {
    padding: 2rem;
    width: 100vw;
    overflow: hidden;
  }
}

.gallery {
  height: 60vh;
  /* padding: 5% 5%; */
  background-color: white;
  border-radius: 10px;
  margin-top: 5%;
  box-shadow: black 5px 5px 5px 5px;
}

.gallery-img {
  width: 100%;
  height: 60vh;
  object-fit: contain;
}

.headingtopabout {
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 0% 0;
}

.headingtopabout > h2 {
  font-size: 7vh;
  font-weight: 700;
  text-align: left;
}

.headaboutbtn {
  background-color: #5c48c5;
  padding: 1vh 1vw;
  border-radius: 4px;
}

.headaboutbtn:hover {
  /* background-color: #5C48C5; */

  /* color: #702fff; */
  box-shadow: 0px 0px 30px #2e65ff;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
