.achieveImage {
  background-image: url('../assets/homepage/DIPP.png');
  height: 89.44543828264759vh;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;
  margin-bottom: 4rem;
  margin-top: 2vh;
}

.Achieve h2 {
  text-align: center;
  font-size: 5rem;
  font-weight: 800;
  color: white !important;
  font-family: 'Merriweather Sans', sans-serif;
  padding: 2rem 0 -4rem 0;
}

.image {
  width: 330px;
  height: auto;
  border-radius: 8px;
  margin-top: 50px;
}

@keyframes enter-animation {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .achieveImage-animation {
    animation: enter-animation 2s 1;
  }
}

@media (max-width: 560px) {
  .Achieve h2 {
    font-size: 4rem;
  }
}
@media (max-width: 400px) {
  * {
    width: -150vw;
  }
  .Achieve h2 {
    font-size: 2.5rem;
    margin-bottom: -40%;
  }

  .achieveImage {
    margin-bottom: -50%;
  }
}
