.footer{
    background-color: #251B58;
}
.defaultHR{
    color: #D0D0D0;
}

.vertical{
    display: inline-block;
}
.vertical1 {
    border-left: 6px solid blue;
    height: 200px;
    position:absolute;

    left: 33%;
  }
  
  .vertical2 {
    border-left: 6px solid blue;
    height: 200px;
    position:absolute;

    left: 66%;
  }