.gap{
  gap: 2%;
  transform: translate(17%,55%);
}

.btnborder{
  background-image: linear-gradient(to right, #6559ae, #ff7159);
  background-clip: text;
  -webkit-background-clip: text; /* For Safari */
  color: transparent;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border: 2px solid transparent;
  border-image: linear-gradient(to right, #6559ae, #ff7159) 1;
}

.links {
  position: absolute;
  top: 25%;
  left: 30%;
}

.ls {
  position: absolute;
  top: 90%;
  left: 28%;
}

.headerHR {
  width: 100%;
  position: relative;
  top: 12.522361359570661vh;
  color: #d0d0d0;
  /* border-top: 2px solid; */
}

.headerSearch {
  position: fixed;
  left: 8%;
  margin-top: 3.9355992844364938vh;
  height: 4.47227191413238vh;
  cursor: pointer;
}

.mainLogo {
  position: absolute;

  margin-top: 2.146690518783542vh;
  height: 7.30232558139535vh;
  cursor: pointer;
}

.signUpButton {
  position: fixed;
  left: 77%;
  margin-top: 3.2200357781753133vh;
  height: 6.261180679785331vh;
  cursor: pointer;
}
.loginButton {
  position: absolute;
  margin-top: 3.9355992844364938vh;
  left: 87%;
  text-decoration: underline;
}

.header {
  z-index: 9;
  display: flex;
  align-items: center;
}


/* @keyframes gradient { 
  0%   { background-position: 14% 0%; }
  50%  { background-position: 87% 100%; }
  100% { background-position: 14% 0%; } */
/* } */

/* @keyframes border {
0% { -webkit-clip-path: polygon(0% 100%, {4px} 100%, {4px} {4px}, {220px - 4px} {4px}, {220px - 4px} {70px - 4px}, {4px} {70px - 4px}, {4px} 100%, 100% 100%, 100% 0%, 0% 0%); }
25% { -webkit-clip-path: polygon(0% 100%, {4px} 100%, {4px} {4px}, {220px - 4px} {4px}, {220px - 4px} {70px - 4px}, {220px - 4px} {70px - 4px}, {220px - 4px} 100%, 100% 100%, 100% 0%, 0% 0%); }
50% { -webkit-clip-path: polygon(0% 100%, {4px} 100%, {4px} {4px}, {220px - 4px} {4px}, {220px - 4px} {4px}, {220px - 4px} {4px}, {220px - 4px} {4px}, {220px - 4px} {4px}, 100% 0%, 0% 0%); }
75% { -webkit-clip-path: polygon(0% 100%, {4px} 100%, {4px} {4px}, {4px} {4px}, {4px} {4px}, {4px} {4px}, {4px} {4px}, {4px} {4px}, {4px} 0%, 0% 0%); }
100%  { -webkit-clip-path: polygon(0% 100%, {4px} 100%, {4px} 100%, {4px} 100%, {4px} 100%, {4px} 100%, {4px} 100%, {4px} 100%, {4px} 100%, 0% 100%); }
} */