@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


.glassyEffect{
    height: 70px;
    width: 100%;
    background: rgba(218, 218, 218, 0.162);
    position: absolute;
    z-index: 1000;
    float: left;

}
.defaultHR{
    width: 100%;
    position: absolute;
    size: 5px;
    color: #D0D0D0;
}
.spaceMaker{
    background:linear-gradient(rgba(0, 0, 0) 1%, #251B58 99%);
    height: 5rem;
    width: 100%;
    margin: 0;
    padding: 0%;
    box-shadow: 0 0 10px 20px black;
}

.hometext h2 {
    font-size: 4rem;
    font-weight: 600;
    line-height: 6.2rem;
    text-align: left;
    color: white !important;
    font-family: 'Merriweather Sans', sans-serif;
}

.hometext h5 {
    font-size: 1rem;
    font-weight: 200;
    text-align: left;
    margin-bottom: 1.2rem;
    color: white !important;
    font-family: 'Merriweather Sans', sans-serif;
}

.home {
    background-color: #251B58;
    /* background-image: url(../assets/homepage/bg.png); */
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.gradient {
    background: url(../assets/homepage/Group\ 7.png);
    position: absolute;
    z-index: -100;
}

/* .headImage{
    background: url(../assets/homepage/Subtract.png);
    background-size:'contain';
    display:'flex';
    z-index: -150;
    justify-content: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 80rem;
} */