
.login{
    margin-top: 10rem;
    background-color: #251B58;
    margin-bottom: 20rem;
}

.logintext{
   font-size: xx-large;
   font-weight: 700;
   margin-bottom: 1rem;
}

.j{
    color: transparent;
}