.productsdiv{
    
    transform: translateX('30%');
}

@media (max-width:900px) {
    .productsdiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}