.signUppage{
    background-color: #251B58;
    background-image: url('../assets/homepage/pngwing52.png');
    background-size: contain;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: 87.01472556894244vh;
    position: absolute;
    top: 10;

}