.wrapper{
    display:inline-block ;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left:6%;
    margin-right: 6%;
    margin-bottom: 12.048192771084338vh;
}

.teams{
    padding: 2.677376171352075vh;
    background-color: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(100px); 
    border-radius: 2.677376171352075vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40.16064257028113vh;
    margin: 5%;
    padding: 6%;
    text-align: center;
    align-content: center;
}

.teamimg{
    width: 13.386880856760374vh;
    height: 13.386880856760374vh;
    margin-left: 30.1%;
    border-radius: 50%;
}

.teamh2{
    font-weight: 800;
    font-size: larger;
    text-decoration: underline;
}

.teamh3{
    font-weight: 400;
}





